@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}


body a{
    text-decoration: none;
    list-style: none;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0;
    box-shadow: 0px 4px 18px rgb(203 203 203);
}

header #logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #logo p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: x-large;
    margin: 0;
    margin-left: 5%;
}

#divBusca {
    background-color: #F7FFE5;
    border-radius: 20px;
    width: 45%;
    height: 32px;
    display: flex;
    box-shadow: 2px 2px 5px rgb(187 187 187);
}

#divBusca button {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    margin-right: 3%;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 3%;
    font-size: 16px;
    width: 100%;
    border: transparent;
    border-radius: 15px;
    outline: 0;
    font-family: "Cairo", sans-serif;
}

#botoesHeader{
    display: flex;
    align-items: center;
}

#botoesHeader a{
    color: #383838;
    font-family: "Cairo", sans-serif;
    margin: 0;
    margin-right: 12%;
}

#botoesHeader button{
    background-color: #F7FFE5;
    height: 32px;
    text-align: center;
    border: none;
    padding: 0 25%;
    box-shadow: 2px 2px 5px rgb(187 187 187);
    border-radius: 50px;
}
footer{
    background-color: #F7FFE5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 3% 0;
    margin-top: 3%;
}

footer #contato{
    width: 30%;
    display: flex;
    flex-direction: column;
}

footer #contato #formularioContato{
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer #contato p{
    color: #3B9B12;
    font-size: larger;
    font-family: "Cairo", sans-serif;
    font-weight: 800;
}

footer #contato #formularioContato input{
    margin-bottom: 3%;
    padding: 2% 0 2% 3%;
    box-shadow: 2px 2px 5px rgb(100, 100, 100);
    border: none;
    border-radius: 10px;
    outline: 0;
}

footer #contato #formularioContato textarea{
    padding: 2% 0 2% 3%;
    box-shadow: 2px 2px 5px rgb(100, 100, 100);
    border: none;
    border-radius: 10px;
    height: 100px;
    resize: none; 
    outline: 0;
}

footer #contato #formularioContato #conteinerEnviar{
    width: 100%;
    text-align: end;
}

footer #contato #formularioContato #conteinerEnviar button{
    background-color: #3B9B12;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 1% 5%;
    margin-top: 3%;
}

footer img{
    width: 25%;
}

footer #conteinerFooter{
    width: 15%;
    text-align: end;
    align-items: end;
}

footer #conteinerFooter #links{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 15%;
}

footer #conteinerFooter #links a{
    padding-bottom: 5%;
    color: #383838;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
}


#conteinerRedesSociais{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer #redesSociais p{
    font-weight: 600;
    margin-bottom: 5%;
}

footer #redesSociais{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}




img{
    width: 100%;
    margin-top: 2%;
}









section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

section p{
    font-family: "Cairo", sans-serif;
    font-size: x-large;
    font-weight: 700;
    margin-left: 5%;
}

#conteinerCategoria #categorias{
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#conteinerCategoria #categorias .duplaCategoria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
}

#conteinerCategoria #categorias button{
    width: 45%;
    padding: 2% 0;
    background-color: #F7FFE5;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(187 187 187);
    font-weight: 500;
    font-size: large;
}

#conteinerCategoria #categorias button img{
    margin-right: 8%;
}


#conteiner{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}

#conteiner #prods{
    width: 73%;
}

#publicidade{
    width: 25%;
    display: flex;
    flex-direction: column;
}

#publicidade #publi2{
    margin-top: 2%;
}

#conteiner #prods .linha{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

#conteiner #prods .linha .produto{
    width: 24%;
    box-shadow: 2px 2px 5px rgb(187 187 187);
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteiner #prods .linha .produto img{
    width: 70%;
    padding: 8% 0;
}

#conteiner #prods .linha .produto p{
    font-size: medium;
    margin: 0;
    margin-left: 10%;
}

#conteiner #prods .linha .produto .conteinerEstrelas{
    width: 80%;
}

.estrelas{
    width: 45%;
}

#conteiner #prods .linha .produto .valor{
    width: 78%;
    text-align: end;
    font-size: large;
    margin: 4% 0 6% 0;
}

#produtos button{
    background-color: transparent;
    border: none;
    width: 100%;
}

#produtos button u{
    color: #383838;
    font-size: medium;
    font-family: "Cairo", sans-serif;
    text-align: center;
    font-weight: 600;
}



menu{
    width: 50%;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 5%;
}

menu select{
    background-color: #F7FFE5;
    box-shadow: 2px 2px 5px rgb(187 187 187);
    color: #383838;
    font-family: "Cairo", sans-serif;
    border: none;
    border-radius: 50px;
    padding: 0.2% 12% 0.2% 3%;
    outline: 0;
    margin-right: 5%;
}

header #simbMenu{
    display: none;
}

#menu_mobile{
    position: fixed;
    top: 78px;
    height: 100vh;
    width: 100%;
    z-index: 5;
    display: none;
    justify-content: flex-end;
}

#conteinerMenu{
    background: white;
    width: 54%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #282626;
    border-left: 1px solid #282626;
}



#filtrar{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 5;
    display: none;
    align-items: flex-end;
    justify-content: center;
}

#filtroMobile{
    background: white;
    width: 100%;
    height: 62vh;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #282626;
}

#conteinerButton{
    width: 90%;
    text-align: end;
    margin-top: 5%;
}

#filtrar h2{
    font-family: 'Cairo';
    margin-left: 10%;
    margin-bottom: 6%;
}

#filtrar menu{
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10%;
}

#filtrar menu select{
    width: 100%;
    margin-bottom: 5%;
}

#filtrar #conteinerButtonMenu{
    width: 100%;
    text-align: end;
}

#filtrar #conteinerButtonMenu button{
    background-color: #3B9B12;
    color: white;
    border: none;
    border-radius: 48px;
    width: 35%;
    padding: 2% 0;
    font-size: medium;
}

#conteinerButton button{
    background-color: white;
    color: #282626;
    font-size: x-large;
    border: none;
    font-weight: 500;
}

#filtroMobile menu{
    display: flex;
    flex-direction: column;
}

#conteinerButtonFiltro{
    width: 94%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#produtos #ButtonMobileFiltro{
    display: none;
    justify-content: center;
    color: #2c720e;
    font-weight: 700;
    font-family: 'Cairo';
    font-size: medium;
    border: 1px solid #2c720e;
    margin-bottom: 4%;
    width: 28%;
    border-radius: 7px;
}



@media (max-width: 430px) {
    #divBusca {
        display: none;
    }

    #botoesHeader {
        display: none;
    }

    header #simbMenu {
        display: block;
        margin-left: 15%;
    }

    header {
        justify-content: space-around;
        padding: 5% 0;
    }

    header #logo img {
        width: 34%;
    }

    .carousel-indicators {
        margin-bottom: 0rem;
    }

    .carousel-indicators [data-bs-target] {
        width: 22px;
        height: 3px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 1rem;
    }

    .conteinerAssinatura {
        display: none;
    }

    menu {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 6%;
    }

    menu select {
        padding: 0.2% 4% 0.2% 3%;
    }

    #conteinerMenu{
        display: flex;
    }

    #conteinerMenu a{
        color: #383838;
        padding: 3% 0% 3% 14%;
        display: flex;
        align-items: center;
        font-family: "Cairo", sans-serif;
        justify-content: start;
    }

    #conteinerMenu svg{
        margin-right: 15%;
    }

    #conteinerMenu button{
        background-color: #F7FFE5;
        height: 32px;
        text-align: center;
        border: none;
        padding: 0 25%;
        box-shadow: 2px 2px 5px rgb(187 187 187);
        border-radius: 50px;
    }

    
    #geral {
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: 100%;
    }

    #publicidade {
        display: none;
    }

    #conteiner {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column; /* Muda para coluna para melhor responsividade */
        align-items: center; /* Centraliza os produtos */
    }

    #conteiner #prods {
        width: 90%;
        padding: 0% 5%;
    }

    #conteiner #prods .linha {
        width: 100%; /* Garante que a linha ocupe 100% da largura */
        display: flex;
        flex-wrap: wrap; /* Permite que os produtos se movam para a próxima linha */
        justify-content: space-between; /* Espaço entre os produtos */
        margin-bottom: 0;
    }

    #conteiner #prods .linha .produto {
        width: 47%; /* Dois produtos por linha em telas pequenas */
        margin-bottom: 10px; /* Espaço entre as linhas */
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 5px rgb(187, 187, 187);
        border-radius: 10px;
    }

    #conteiner #prods .linha .produto img {
        width: 82%; /* A imagem ocupa a largura total do produto */
        padding: 8% 0;
    }

    #conteiner #prods .linha .produto p {
        font-size: small;
        margin: 0;
        margin-left: 10%;
    }

    #conteiner #prods .linha .produto .valor {
        width: 70%;
        text-align: end;
        font-size: large;
        margin: 4% 0 6% 0;
    }

    #produtos button {
        background-color: transparent;
        border: none;
        width: 100%;
    }

    #filtroMobile{
        display: flex;
    }

    #produtos menu{
        display: none;
    }

    #produtos #ButtonMobileFiltro{
        display: flex;
    }


    #produtos button u {
        color: #383838;
        font-size: medium;
        font-family: "Cairo", sans-serif;
        text-align: center;
        font-weight: 600;
    }
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        margin-top: 3%;
    }
    .estrelas {
        width: 80%;
    }
    footer {
        flex-direction: column;
        padding: 5%;
    }

    footer #contato, 
    footer #conteinerFooter {
        width: 90%;
        text-align: center;
        align-items: center;
    }

    footer #contato #formularioContato input,
    footer #contato #formularioContato textarea {
        width: 100%;
    }

    footer img {
        width: 50%;
    }

    #conteinerRedesSociais {
        align-items: center;
    }
    section p {
        font-size: large;
        margin-top: 5%;
        margin-left: 8%;
    }

    #filtrar menu select{
        font-size: medium;
    }

    #conteiner {
        margin: 0;
    }

}