<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/adcProdutoFazendeiro.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <title>AgroLink</title>
</head>

<body>
    <%- include('partials/header') %>

    <form action="/adicionado_produto" method="POST" class="produtosTotal" enctype="multipart/form-data">
        
        <div class="infoProdutoCima">
            
            <div class="fotoProduto">
                <h1>Adicionar Produtos</h1>

                <div class="foto">
                    <img src="img/produtoIcon.png" alt="">
                    <label for="file" class="custom-file-button">Adicione a foto do Produto</label>
                    <input type="file" id="file" name="imagem" accept="image/*" required>
                    <p>Foto do produto</p>
                </div>

            </div>
            <div class="infosProdutos">
                <div id="inp1" class="info1">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome_produto" id="nome" required>
                </div>
                <div class="info2">
                    <div class="inputTodo">
                        <label for="categoria">Categoria</label>
                        <div id="inp2" class="infos">
                            <select name="categoria_atual" id="categoria" class="inputsIguais">
                                <option value=""></option>
                                <option value="Grãos">Grãos</option>
                                <option value="Legumes">Legumes</option>
                                <option value="Frutas">Frutas</option>
                                <option value="Carnes">Carne</option>
                            </select>
                        </div>
                    </div>

                    <div class="inputTodo">
                        <label for="categoria">Peso</label>
                        <div id="inp2" class="infos">
                            <input type="text" name="peso" id="peso" required>
                        </div>
                    </div>

                    <div class="inputTodo">
                        <label for="quantidade">Quantidade</label>
                        <div id="inp3" class="infos">
                            <input type="number" name="quantidade" id="quantidade" required>
                        </div>
                    </div>
                    <div class="inputTodo">
                        <label for="valor">Valor</label>
                        <div id="inp4" class="infos">
                            <input type="text" name="valor" id="valor" required>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>

        <div class="info3">
            <div class="input3">
                <label for="descricao">Descrição</label>
                    <input type="text" name="descricao" id="descricao" required> 
            </div>
        </div>

        <div class="buttonSalvar">
            <button type="submit">Salvar</button>
        </div>

    </form>

    <script src="js/index.js"></script>
</body>

</html>