<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/MeusProdutosFazendeiro.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <title>AgroLink</title>
</head>

<body>

    <header>
        <div class="logo">
            <img src="img/logo.png" alt="">
            <p>AGROLINK</p>
        </div>

        <div class="navbar">
            <a href="MeusProdutosFazendeiro.html">Meus Produtos</a>
            <a href="MeusProdutosFazendeiro.html">Estoque</a>
            <a href="MeusProdutosFazendeiro.html">Adicionar Produto</a>
            <img src="img/perfilIcon.png" alt="ícone do perfil">
        </div>
        <svg id="simbMenu" xmlns="http://www.w3.org/2000/svg" width="8%" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" onclick="showMenu()">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
    </header>

    <div id="menu_mobile">
        <div id="conteinerMenu">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
              </svg>Início</a><hr>
            <a href="ContaFazenda.html"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>Sua Conta</a><hr>
            <a href="MeusProdutosFazendeiro.html"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-patch-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5"/>
                <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
              </svg>Adicionar Produto</a><hr>
            <a href="CursosOnlineBlur.html"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
              </svg>Cursos</a><hr>
            <a href="ConsultoriaBlur.html"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
              </svg>Consultoria</a><hr>
            <a href="InicioFazendeiro.html"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
              </svg>Sair</a><hr>
        </div>
    </div>


    <section class="options">
        <div class="option">
            <a href="CursosOnlineBlur.html">Cursos Online</a>
            <a href="ConsultoriaBlur.html">Consultoria</a>
            <a href="AssinaturaFazendeiro.html">Assinatura</a>
        </div>
        <img src="img/imgVacas.png" alt="">
    </section>

    <section id="infoCima">
        <div class="cima">
            <div class="titulo">
                <h1>Meus Produtos</h1>
                <p>2 itens cadastrados</p>
            </div>
            <div class="inputs">
                <div style="width: 56%;" id="inputComIcon" class="entrada">
                    <input type="text" placeholder="Pesquisa" id="pesquisa">
                    <img src="img/lupaIcon.png" alt="" id="img1">
                </div>
                <div class="dupla">
                    <div class="inputt" class="entrada">
                        <select name="categoria" id="categoria">
                            <option value="">Categoria</option>
                            <option value="Grãos">Grãos</option>
                            <option value="Legumes">Legumes</option>
                            <option value="Frutas">Frutas</option>
                            <option value="Carne">Carne</option>
                        </select>
                    </div>
                    <div id="Continerfiltro" class="entrada">
                        <input type="text" placeholder="Filtrar" id="filtro">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                          </svg>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <div id="conteinerButtonAddItem">
        <button id="BtnAddItem" onclick="AbrirAddItem(1)">Adicionar Item</button>
    </div>

    <div id="conteinerAdicionar">
        <section id="adicionarItens">
            <div id="conteinerFechar">
                <div id="titAddItem">
                    <p>Adicionar Produto</p>
                </div>
                <button id="fecharADDItem" onclick="AbrirAddItem(0)">X</button>
            </div>
            <div class="dois">
                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome">
                </div>
                <div>
                    <label for="peso">Peso:</label>
                    <input type="number" name="peso" id="peso" required>
                </div>
                <div>
                    <label for="categoria2">Categoria:</label>
                    <select name="categoria2" id="categoria2" required>
                        <option value="" selected disabled></option>
                        <option value="Grãos">Grãos</option>
                        <option value="Legumes">Legumes</option>
                        <option value="Frutas">Frutas</option>
                        <option value="Carne">Carne</option>
                    </select>
                </div>
            </div>

            <div class="dois">
                <div>
                    <label for="">Quantidade:</label>
                    <input type="number" name="quantidade" id="quantidade">
                </div>
                <div>
                    <label for="">Valor:</label>
                    <input type="number" name="valor2" id="valor2">
                </div>
            </div>

            <div id="contenierBtn">
                <button class="adcProdButton">Adicionar</button>
            </div>
            
        </section>

    </div>

    <section class="produtos">
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th class="nome"></th>
                        <th class="anula">Peso</th>
                        <th class="anula">Categoria</th>
                        <th>Quantidade</th>
                        <th>Vendidos</th>
                        <th>Valor</th>
                        <th>Excluir</th>
                    </tr>
                </thead>

                <tbody>

                    <% produto.forEach(function(produto){%>

                        
                    <tr>
                        <td>
                            <div class="imgtit"><img src="img/imgProdutoPerfil.png" alt="Feijão Carioca">
                                <p><%= produto.nome_produto %>
                                    Fazenda Laje Grande - saca</p>
                            </div>
                        </td>
                        <td class="anula">50kg</td>
                        <td class="anula">produto.categoria_atual %></td>
                        <td><%= produto.quantidade %></td>
                        <td>3</td>
                        <td id="valor">R$ <%= produto.valor %></td>

                        <td class="delet">
                            <form action="/Gerenciar_Produto/<%= produto.id_produto %>" method="post">
                            <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="white" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </form>
                    </td>
                    </tr>
                    <% })%>
                </tbody>
            </table>
        </div>

    </section>
    <script src="js/itens.js"></script>
    <script src="js/index.js"></script>
</body>

</html>