@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}
input[type="file"] {
    display: none;
}

.foto:hover {
    background-color: #d1d1d1;
}

.custom-file-button {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.custom-file-name {
    margin-left: 10px;
    color: #666;
}

.custom-file-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
body a {
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    flex-direction: row;
    padding: 1% 0;
    padding-top: 20px;
}

#simbMenu{
    display: none;
}

#menu_mobile{
    position:fixed;
    top: 78px;
    height: 100vh;
    width: 100%;
    z-index: 5;
    display: none;
    justify-content: flex-end;
}

#conteinerMenu{
    background: white;
    width: 54%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #615f5f;
    border-left: 1px solid #615f5f;
}

.logo p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: x-large;
    margin: 0;
    margin-left: 5%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 50px;
}

.navbar a {
    font-family: "Cairo", sans-serif;
    color: black;
}

.navbar #conteinerIcon{
    width: 10%;
}

.navbar img {
    width: 100%;
}

.options {
    width: 100%;
}

.option {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 10px 10px 10px 60px;
    background-color: #C8854F;
    width: 554px;
    height: 60px;
    border-radius: 0px 20px 20px 0px;
    font-size: 18px;
}

.option a {
    font-family: "Cairo", sans-serif;
    color: white;
}

input, select{
    outline: 0;
    padding-left: 5%;
    font-size: medium;
}

h1 {
    margin-bottom: 5%;
    width: 100%;
    font-family: "Cairo", sans-serif;
    font-weight: bolder;
    font-size: x-large;
}

.infoProdutoCima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    width: 42vh;
    height: 40vh;
    border-radius: 5px;
}

.foto p {
    font-family: "Cairo", sans-serif;
    color: #666666;
    font-size: 20px;
}


#nome {
    width: 95%;
    height: 53px;
    border-radius: 5px;
    border: solid black 1px;
}

.fotoProduto {
    width: 30%;
}

.info1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.inputTodo {
    width: 24%;
}

.info3 {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtosTotal {
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#categoria {
    width: 95%;
    height: 53px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
}

#inp3 {
    width: 100%;
}

#inp4 {
    width: 100%;
}

#peso {
    width: 95%;
    height: 50px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
}

#quantidade {
    width: 95%;
    height: 50px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
}

#valor {
    width: 95%;
    height: 50px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
}

#descricao {
    min-width: 95%;
    min-height: 116px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
}

.info3 {
    width: 80%;
}

.infosProdutos {
    width: 64%;
}

label {
    margin-bottom: 10px;
    font-family: "Cairo", sans-serif;
}

.buttonSalvar {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 80%;
    margin-bottom: 5%;
}

button {
    text-align: center;
    border-radius: 8px;
    background-color: #8AD766;
    border: none;
    font-size: large;
    padding: 1% 6%;
}

.options img {
    display: none;

}


@media screen and (max-width: 430px) {
    .option {
        display: flex;
        align-items: flex-start;
        padding: 2% 0;
        background-color: #C8854F;
        border-radius: 0px 20px 20px 0px;
        font-size: 18px;
        width: 45%;
        flex-direction: column;
        gap: 0;
        height: auto;
    }

    .option a {
        margin: 5% 0 0 18%;
        font-size: smaller;
    }

    .options img {
        display: block;
        margin: 0;
        padding: 0;
        width: 43%;
    }

    #valor {
        margin: 0;
    }

    .options {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navbar {
        display: none;
    }

    .logo {
        margin-left: 0px;
    }

    header #simbMenu {
        display: block;
        margin-left: 15%;
    }

    header {
        width: auto;
        margin: 0% 5%;
        justify-content: space-between;
        padding: 5% 2%;
    }

    #conteinerMenu{
        display: flex;
    }

    #conteinerMenu a{
        color: #383838;
        padding: 3% 0% 3% 14%;
        display: flex;
        align-items: center;
        font-family: "Cairo", sans-serif;
        justify-content: start;
    }

    #conteinerMenu svg{
        margin-right: 15%;
    }

    #conteinerMenu button{
        background-color: #F7FFE5;
        height: 32px;
        text-align: center;
        border: none;
        padding: 0 25%;
        box-shadow: 2px 2px 5px rgb(187 187 187);
        border-radius: 50px;
    }

    .infoProdutoCima {
        display: flex;
        align-items: center;
        justify-content: normal;
        gap: 0;
        width: 85%;
        flex-direction: column;
    }

    .fotoProduto {
        width: 100%;
    }

    h1 {
        width: 100%;
        font-family: "Cairo", sans-serif;
        font-weight: bolder;
        font-size: larger;
        margin-left: 0;
        margin-top: 10%;
        margin-bottom: 0;
    }

    .foto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid black 1px;
        width: 34vh;
        height: 32vh;
        margin-left: 0;
        border-radius: 5px;
        margin-top: 5%;
        margin-left: 14%;
    }

    .infosProdutos {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info1 {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .produtosTotais {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .inputTodo {
        width: 100%;
    }

    #categoria {
        width: 100%;
        height: 34px;
        border: solid black 1px;
        border-radius: 5px;
        margin-top: 0;

    }

    #quantidade {
        width: 100%;
        height: 34px;
        border: solid black 1px;
        border-radius: 5px;
        margin-top: 0;
    }

    #inp3 {
        width: 100%;
    }

    #nome {
        width: 100%;
        height: 34px;
        border-radius: 5px;
        border: solid black 1px;
    }

    #valor {
        width: 100%;
        height: 34px;
        border: solid black 1px;
        border-radius: 5px;
    }


    .info3 {
        margin-top: 30px;
        width: 100%;
    }

    .input3 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #descricao {
        width: 100%;
        border: solid black 1px;
        border-radius: 5px;
        margin-top: 0px;
    }

    .input3 {
        width: 100%;
    }

    #descricao {
        max-width: 100%;
        height: 50px;
        margin: 0;
        min-width: 0;
    }

    button {
        min-width: 0;
        min-height: 0;
        text-align: center;
        margin-right: 0;
        padding: 3% 8%;
        font-size: medium;
    }

    .info3 {
        margin-top: 2%;
        width: 86%;
    }

    .buttonSalvar {
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: end;
        width: 86%;
    }


    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }

    

    label {
        margin-top: 2%;
        margin-bottom: 1%;
    }
}
@media screen and (max-width: 950px) {
    .infoProdutoCima {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .infosProdutos {
        width: 100%;
    }
    .fotoProduto {
        width: 100%;
    }

}